<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

  <targets>
    <!-- Error-only log -->
    <target xsi:type="File"
            name="ErrorLog"
            fileName="${basedir}/logs/error-${shortdate}.log"
            createDirs="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" />
    <target xsi:type="File"
            name="InfoLog"
            fileName="${basedir}/logs/info-${shortdate}.log"
            createDirs="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <!-- ONLY Error & Fatal -->
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />
    <logger name="*" minlevel="Info" writeTo="InfoLog" />
  </rules>

</nlog>
