/* =========================
   BASE
========================= */
.upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* =========================
     STATUS
  ========================= */
.upload-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status-dot.connected {
  background: #22c55e;
}

/* =========================
     CARD
  ========================= */
.upload-card {
  min-height: 520px;
  border-radius: 14px;
  padding: 24px;
  max-width: 100%;
  transition:
    background-color 0.3s ease,
    border 0.3s ease;
}

/* =========================
     TEXT
  ========================= */
.upload-card h2 {
  margin: 0;
  font-size: 22px;
}

.subtitle {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 20px;
}

/* =========================
     DROP ZONE
  ========================= */
.upload-area {
  min-height: 320px;
  display: block;
  border: 2px dashed;
  border-radius: 12px;
  padding: 28px;
  text-align: center;
  cursor: pointer;
  margin-top: 12px;
  font-size: 28px;
}

.upload-area input {
  display: none;
}

.upload-area p {
  margin: 8px 0;
  font-size: 34px;
}

.upload-area span {
  font-size: 28px;
  opacity: 0.7;
}

/* =========================
     ACTIONS
  ========================= */
.upload-actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.primary-btn {
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.secondary-btn {
  background: transparent;
  border: 1px solid;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}

/* =========================
     DARK THEME
  ========================= */
.upload-dark .upload-card {
  background: #2b2738;
  border: 1px solid #e2e8f0;
}

.upload-dark .upload-area {
  border-color: #7c63ff;
}

.upload-dark .primary-btn {
  background: #7c63ff;
}

.upload-dark .secondary-btn {
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/* =========================
     LIGHT THEME
  ========================= */
.upload-light .upload-card {
  background: #ffffff;
  border: 1px solid #e2e8f0;
}

.upload-light .upload-area {
  border-color: #2563eb;
}

.upload-light .primary-btn {
  background: #2563eb;
}

.upload-light .secondary-btn {
  border-color: #e2e8f0;
  color: #1e3a8a;
}
.fullscreen-loader {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-box {
  background: #1f2937;
  color: white;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  min-width: 220px;
}

.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid white;
  border-radius: 50%;
  margin: 0 auto 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
