/* RESET */
* {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* no scroll */
    font-family: "Poppins", sans-serif;
  }
  
  /* PAGE BACKGROUND */
  .auth-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    background: linear-gradient(135deg, #6b657c, #7b768d);
  }
  
  /* CARD */
  .auth-card {
    width: 1050px;          /* slightly smaller = better centering */
    height: 600px;
    background: #2b2738;
    border-radius: 18px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.45);
  }
  
  /* LEFT IMAGE */
  .auth-left {
    width: 45%;
    height: 100%;
    background-image: linear-gradient(
        rgba(70, 60, 120, 0.6),
        rgba(30, 25, 55, 0.95)
      ),
      url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px;
    color: #fff;
  }
  
  /* LEFT TEXT */
  .left-content {
    position: absolute;
    bottom: 40px;
  }
  
  .left-content h2 {
    font-weight: 400;
    line-height: 1.4;
  }
  
  /* DOTS */
  .slider-dots {
    margin-top: 14px;
    display: flex;
    gap: 8px;
  }
  
  .slider-dots span {
    width: 18px;
    height: 3px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
  }
  
  .slider-dots .active {
    background: white;
  }
  
  /* RIGHT */
  .auth-right {
    width: 55%;
    height: 100%;
    padding: 60px 70px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .auth-right h1 {
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  /* FORM */
  .auth-form input {
    width: 100%;
    background: #3a354d;
    border: 1px solid #4a4560;
    padding: 14px;
    border-radius: 10px;
    color: white;
    margin-bottom: 18px;
    outline: none;
  }
  
  .password-field {
    position: relative;
  }
  .eye {
    position: absolute;
    right: 14px;
    top:35%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #bdbad0;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
  }
  
  .eye:hover {
    color: white;
  }
  
  
  /* BUTTON */
  .primary-btn {
    width: 100%;
    background: #7c63ff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
  }
  